# artifacts
__pycache__
.pytest*
pytestdebug.log
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
test_results/*


# Home Assistant configuration
config/*
!config/configuration.yaml