# artifacts
__pycache__
.pytest*
pytestdebug.log
*.egg-info
*/build/*
*/dist/*


# misc
.cache
.coverage
.ruff_cache
.venv
.vscode/*
!.vscode/tasks.json
coverage.xml
test_results/*


# Home Assistant configuration
config/*
!config/configuration.yaml